/* html */
html {padding:0;margin:0;}
body {margin:0; padding:0; width:100%; font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#FFF; background-color:#000;text-align:center;}
a img{border:none;}
img{vertical-align:middle;}

a:link{color:#FFF;text-decoration: none;}
a:hover{color:yellow;text-decoration: none;}
a:visited{color:#FFF;text-decoration: none;}
a:active {text-decoration: none;}
.clear{clear:both}

/* main */
#main{padding:5px 0;margin:0 auto;width:995px;background: url("http://1.dotabook.sinaapp.com/static/image/layout/bg.gif") repeat scroll 0 0 #FFFFFF;text-align:left;}
.img15{width:15px;}
.img20{width:20px;}
.img35{width:35px;}
.img38{width:38px;}
.img45{width:45px;}
.img47{width:47px;}
.img64{width:64px;}
.img120{width:120px;}

.info1{color:red;}
.info2{color:yellow;}
.info3{color:orange;}

.size10{font-size:10px;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.size20{font-size:20px;}

/* header */
#header{padding:0 20px;}
#header .t_line{background: url("http://1.dotabook.sinaapp.com/static/image/layout/t_line.jpg") no-repeat scroll 0 0; line-height:30px;padding-left:20px;}
#header .t_header{background: url("http://1.dotabook.sinaapp.com/static/image/layout/t_nav.jpg") no-repeat scroll 0 0; padding-left:10px;height:155px;}
#header .t_header .t_logo{padding:30px 10px 20px 10px;}
#header .t_header .t_nav{border: 0 none;clear: both;list-style-type: none; margin:8px 0;padding: 0;}
#header .t_header .t_nav ul{margin:0;padding:0;}
#header .t_header .t_nav ul li{display:inline;float:left;width:90px;margin:5px 0;text-align: center;}

/* content */
#content{padding:0 20px;}
#content .l_content{float:left;width:60%;}
#content .l_content .intro{margin:30px 5px;}
#content .l_content .comment{margin:30px 5px;}
#content .r_content{float:left;width:35%;}
#content .r_content .login{margin:30px 5px;}
#content .r_content .newer{margin:30px 5px;}
#content .r_content .daily{margin:30px 5px;}

.tooltip_hero{width:250px;background-color:#000;color:#FFF;}
.tooltip_hero h3{color:#00ff00;font-weight:bold;margin:0;padding:0;}
.tooltip_hero ul{border: 0 none;clear: both;list-style-type: none;margin:0;padding:0;}
.tooltip_hero ul li{margin:5px 0 0 0;}

.tooltip_item{width:250px;background-color:#000;color:#FFF;}
.tooltip_item .info{color:red;}
.tooltip_item h3{color:#00ff00;font-weight:bold;margin:0;padding:0;}
.tooltip_item h4{color:#00ff00;margin:0;padding:0;}
.tooltip_item .price{color:yellow;font-weight:bold;margin:0;padding:0;float:right;}
.tooltip_item ul{border: 0 none;clear: both;list-style-type: none;margin:0;padding:0;}
.tooltip_item ul li{margin:0;line-height:20px;vertical-align:middle;}

.namecard{width:260px;background-color:#000;color:#FFF;padding:10px;}
.namecard .nc_l{padding:0 8px 0 0;float:left;}
.namecard .nc_r{line-height:18px;}
.namecard .nc_b{margin:5px 0 0 0;}
.namecard .nc_b_btn{margin:10px 0 2px 0;}
.namecard a{color:orange;}
.namecard .nc_b_btn a{color:#FFF;}

.userinfo{padding:2px;}
.userinfo .nc_l{padding:0 8px 0 0;float:left;}
.userinfo .nc_r{line-height:18px;}
.userinfo .nc_b{margin:5px 0 0 0;}
.userinfo .nc_b_btn{margin:10px 0 2px 0;}
.userinfo a{color:orange;}
.userinfo .nc_b_btn a{color:#FFF;}

.hero{background-color:#000;padding:5px;}
.h_left{float:left;width:230px;margin:2px 5px;}
.h_left_img{margin:0 15px 0 0;float:left;}
.h_left ul {border: 0 none;clear: both;list-style-type: none; margin: 8px 0 0;padding: 0;}
.h_left ul li{display:inline;float:left;width:70px;margin:5px 0;text-align: center;}
.h_left ul li label{color:#FF9000;}
.h_middle{float:left;width:150px;}
.h_right{float:left;width:500px}
.h_right ul {border:0 none;list-style-type:none;margin:0;padding:0;}
.h_right ul li{float:left;width:250px;display:inline;}
.h_right ul li label{width:110px;color:#FF9000;display: block;float:left;}

.skill{margin-bottom:20px;}
.skill h4{font-size:14px;color:#6799D4;margin:5px 0;padding:0;}
.skill .s_img{float:left;margin:0 20px 0 0;}
.skill .s_target{float:left;width:180px}
.skill .s_target ul{border:0 none;list-style-type:none;float:left;margin:0 20px;padding:0;}
.skill .s_target ul li{margin:0 0 5px 0;}
.skill .s_target ul li label{width:75px;color:#6799D4;display:block;float:left;}
.skill .s_desc{float:left;width:550px}
.skill .s_table{margin:15px 0;}
.skill .s_table ul{border:0 none;list-style-type:none;float:left;margin:0;padding:0;}
.skill .s_table ul li{float:left;width:50px;display:inline;}

.grade .myGrade{width:450px;float:left;}
.grade .userGrade{width:400px;float:left;}
.grade h4{font-size:14px;color:#6799D4;margin:5px 0;padding:0;}

.msgs ul{border:0 none;list-style-type:none;float:left;margin:10px;padding:0;width:100%;}
.msgs ul li{margin:0 20px 10px 0;padding:0 0 15px 0;border-bottom:1px dashed gray;}
.msgs ul li .l-msg{float:left;}
.msgs ul li .r-msg{margin:0 0 0 80px;}
.msgs ul li .b-msg{margin:0 0 0 80px;}
.msgs ul li .b-msg .b-msg-btn{float:right;}
.msgs .b-page{margin:0 0 0 10px;}
.msgs .b-page .b-page-btn{float:right;margin:0 15px 0 0;}

.maps ul{border:0 none;list-style-type:none;padding:0 0 5px 0;clear:both;}
.maps ul li{display:inline;float:left;}
.maps .tab{border-bottom:1px solid #FFF; padding:20px 0;}

.upgrade{margin:3px;}
.upgrade ul{margin:0;padding:0;list-style-type:none;}
.upgrade ul li{line-height:20px;}

.tab li{text-align: center;}
.line li{text-align: center;margin:5px 0;}

/* footer */
#footer{height:80px;padding:0 20px;border-top:3px solid gray;background: url("http://1.dotabook.sinaapp.com/static/image/layout/wave.png") repeat-x scroll 50% 50% #333333;}
#footer .copyright{vertical-align:middle;margin:10px 0;}

/* form */
.text_width{width:400px}
.text_height{height:20px}
.btn1{background-color:gray;font-size:14px;padding:6px;margin:10px 10px 0 0;color:#6799D4;}
.btn2{font-size:12px;padding:3px;margin:5px 5px 0 0;color:#FFF;border:1px solid gray;}
.btn2_current{font-size:12px;padding:3px;margin:5px 5px 0 0;color:#FFF;}
.btn3{background-color:orange;font-size:14px;padding:3px 6px;margin:10px 10px 0 0;color:#FFF;}
.area{width:600px;line-height:20px;}
.area2{width:400px;line-height:20px;}

/* function */
.function{padding:5px 0;}

/* widget */
.box{margin:10px;}
.box .box_header{background: url("http://1.dotabook.sinaapp.com/static/image/layout/wave.png") repeat-x scroll 50% 50% #333333;border: 1px solid #333333;padding:4px;margin:5px 0;}
.box .box_header .title{font-family:Segoe UI,Arial,sans-serif;font-size:14px;padding:4px;margin:2px;float:left;}
.box .box_header .btn{font-size:12px;padding:4px;margin:2px 5px 2px 0;float:right;}
.box .box_header .btn a{color:orange;}
.box .box_content{padding:4px;margin:10px 0;}

.user_head_list ul{margin:0;padding:0;}
.user_head_list ul li{display:inline;float:left;text-align: center;margin:3px;}
.user_head .t_pic{padding:1px;margin:0;}
